
.ic-star:before { content: '\e800'; } /* '' */
.ic-heart2:before { content: '\e801'; } /* '' */
.ic-back:before { content: '\e802'; } /* '' */
.ic-arrow-left-sm:before { content: '\e803'; } /* '' */
.ic-arrow-right:before { content: '\e804'; } /* '' */
.ic-arrow-right-sm:before { content: '\e805'; } /* '' */
.ic-arrow-left:before { content: '\e806'; } /* '' */
.ic-instagram:before { content: '\e807'; } /* '' */
.ic-teeelegram:before { content: '\e808'; } /* '' */
.ic-youtube:before { content: '\e809'; } /* '' */
.ic-facebook:before { content: '\e80a'; } /* '' */
.ic-heart:before { content: '\e80b'; } /* '' */
.ic-search:before { content: '\e80c'; } /* '' */
.ic-user:before { content: '\e80d'; } /* '' */
.ic-supermarket:before { content: '\e80e'; } /* '' */
.ic-arrow-down:before { content: '\e80f'; } /* '' */
.ic-play:before { content: '\e810'; } /* '' */