.tabs {
    padding-top: 90px;
    padding-bottom: 120px;
    &__menu {
        margin-bottom: 90px;
        .active {
            color: $orange2;
        }

        @include mmax(767) {
            display: none;
            margin-bottom: 48px;
        }
    }

    &__menu-list {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin-bottom: -20px;
    }
    &__menu-item {
        font-family: $font2;
        margin-right: 60px;
        margin-bottom: 20px;
        cursor: pointer;
        font-weight: 600;
        font-size: 15px;
        line-height: 21px;
        letter-spacing: 0.09em;
        text-transform: uppercase;

        color: #0a0d0f;
        transition: all 0.3s;
        &:hover {
            color: #ca4513;
        }
        &:last-child {
            margin-right: 0;
        }

        @include mmax(575) {
            text-align: center;
            margin-right: 0;
            flex: 0 0 50%;
            max-width: 50%;
        }
    }
    &__content {
    }

    &__block {
        display: none;
        &.active {
            display: block;
        }
        .slider__nav {
            top: 25%;
            transform: translateY(25%);
        }
    }

    @include mmax(575) {
        .container {
            padding: 0;
        }
    }
}
